@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f9fafb;
    --foreground: #111827;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    @apply antialiased min-h-screen flex flex-col;
  }
}

@layer utilities {
  .glassmorphism {
    @apply bg-white/70 backdrop-blur-md border border-white/20 shadow-sm;
  }
}

.logo:hover {
  opacity: 0.85;
  transform: scale(1.05);
  transition: 0.2s ease;
}
